html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: "Droid Serif", serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

footer,
header {
  background-color: #70ad55;
  color: #fff;
}

h1 {
  margin: 0;
}

fieldset {
  border: none;
  margin: 0;
}

.greenborder {
  border-bottom: 2px solid rgba(112, 173, 85, .3);
}

.greenitalic {
  color: #70ad55;
}

header p {
  line-height: 1.6rem;
  margin: 0;
}

button {
  padding: .375em 2em .42em;
  background-color: #6e8c62;
  border: 3px solid;
  border-color: #6e8c62;
}

footer p {
  margin: 0;
}
